<div class='snpt-wdgt--liveig'>
   <script src='https://snapppt.com/widgets/liveig/c05a365d-1541-47d6-b69f-24a2f9dcc998' defer class='snapppt-widget'></script>
  </div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
],
  "presets": [
    {
      "name": "Insta Feed",
      "category": "custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
