{%- render 'page-section-header-overlay', seciton: section -%}

{%- if section.settings.page_title_enable or section.settings.page_content_enable -%}
  <div class="page-width page-content{% if section.blocks.size > 0 %} page-content--with-blocks{% endif %}">

    <div class="grid">
      <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
        {%- render 'breadcrumbs' -%}

        {%- if section.settings.page_title_enable -%}
          <header class="section-header">
            <h1 class="section-header__title">{{ page.title }}</h1>
          </header>
        {%- endif -%}

        {%- if section.settings.page_content_enable -%}
          <div class="rte text-spacing">
            {{ page.content }}
          </div>
        {%- endif -%}

      </div>
    </div>
  </div>
{%- endif -%}

{%- render 'page-template-blocks', section: section -%}
{% schema %}
  {
    "name": "Page.sections page",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title"
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content"
      },
      {
        "type": "checkbox",
        "id": "overlaid_header",
        "label": "Overlay header over image sections",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "custom-html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "checkbox",
            "id": "full_width",
            "label": "Full page width",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "space_around",
            "label": "Add spacing above and below",
            "default": true
          },
          {
            "type": "textarea",
            "id": "code",
            "label": "HTML",
            "default": "<h2>Custom HTML</h2><p>Use this advanced section to build your own layouts or to add custom HTML or scripts.</p>"
          }
        ]
      },
      {
        "type": "text-and-image",
        "name": "Image with text",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 600,
            "min": 100,
            "max": 600,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Improved"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Image with text"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Optional button"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Image on left"
              },
              {
                "value": "right",
                "label": "Image on right"
              }
            ]
          }
        ]
      },
	  {
        "type": "background-image-text",
        "name": "Large image with text box",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "Impressive"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Large image with text box"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center",
            "options": [
              {
                "value": "20% 0",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "80% 0",
                "label": "Top right"
              },
              {
                "value": "20% 50%",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "80% 50%",
                "label": "Right"
              },
              {
                "value": "20% 100%",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "80% 100%",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "range",
            "id": "height",
            "label": "Section height",
            "default": 550,
            "min": 450,
            "max": 750,
            "step": 100,
            "unit": "px"
          }
        ]
      },
      {
        "type": "rich-text",
        "name": "Rich text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Rich text block"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "narrow_column",
            "label": "Narrow column",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text"
          }
        ]
      },
      {
        "type": "image-row",
        "name": "Row of images",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "url",
            "id": "image_1_link",
            "label": "Link 1",
            "info": "Optional"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "url",
            "id": "image_2_link",
            "label": "Link 2",
            "info": "Optional"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          },
          {
            "type": "url",
            "id": "image_3_link",
            "label": "Link 3",
            "info": "Optional"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image 4"
          },
          {
            "type": "url",
            "id": "image_4_link",
            "label": "Link 4",
            "info": "Optional"
          },
          {
            "type": "checkbox",
            "id": "enable_gutter",
            "label": "Add spacing",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_zoom",
            "label": "Enable image zoom",
            "info": "Not active if any image links set",
            "default": true
          }
        ]
      },
      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "From our customers"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "round_images",
            "label": "Circular images",
            "info": "Requires square images"
          },
          {
            "type": "color",
            "id": "color_background",
            "label": "Background",
            "default": "#f9f9f9"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "Text",
            "default": "#1c1d1d"
          },
          {
            "type": "header",
            "content": "Testimonial 1"
          },
          {
            "type": "select",
            "id": "icon_1",
            "label": "Icon",
            "default": "5-stars",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "quote",
                "label": "Quote"
              },
              {
                "value": "5-stars",
                "label": "5 stars"
              },
              {
                "value": "4-stars",
                "label": "4 stars"
              },
              {
                "value": "3-stars",
                "label": "3 stars"
              },
              {
                "value": "2-stars",
                "label": "2 stars"
              },
              {
                "value": "1-star",
                "label": "1 star"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_1",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "text",
            "id": "author_info_1",
            "label": "Author info",
            "default": "Los Angeles, CA"
          },
          {
            "type": "header",
            "content": "Testimonial 2"
          },
          {
            "type": "select",
            "id": "icon_2",
            "label": "Icon",
            "default": "5-stars",
            "options": [
              {
                "value": "none",
                "label": "None"
              },
              {
                "value": "quote",
                "label": "Quote"
              },
              {
                "value": "5-stars",
                "label": "5 stars"
              },
              {
                "value": "4-stars",
                "label": "4 stars"
              },
              {
                "value": "3-stars",
                "label": "3 stars"
              },
              {
                "value": "2-stars",
                "label": "2 stars"
              },
              {
                "value": "1-star",
                "label": "1 star"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Author's image"
          },
          {
            "type": "text",
            "id": "author_2",
            "label": "Author",
            "default": "Author's name"
          },
          {
            "type": "text",
            "id": "author_info_2",
            "label": "Author info",
            "default": "Los Angeles, CA"
          }
        ]
      },
      {
        "type": "text-columns",
        "name": "Text columns with images",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Alignment",
            "default": "center",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          },
          {
            "type": "header",
            "content": "Column 1"
          },
          {
            "type": "checkbox",
            "id": "enable_image_1",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_1",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_1",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_1",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_label_1",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Column 2"
          },
          {
            "type": "checkbox",
            "id": "enable_image_2",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_2",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_2",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_2",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link_2",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Column 3"
          },
          {
            "type": "checkbox",
            "id": "enable_image_3",
            "label": "Show image",
            "default": true
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width_3",
            "label": "Image width",
            "default": 650,
            "min": 60,
            "max": 650,
            "step": 10,
            "unit": "px"
          },
          {
            "type": "text",
            "id": "title_3",
            "label": "Heading",
            "default": "Example title"
          },
          {
            "type": "richtext",
            "id": "text_3",
            "label": "Text",
            "default": "<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.</p>"
          },
          {
            "type": "text",
            "id": "button_label_3",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link_3",
            "label": "Link"
          }
        ]
      }
    ]

  }
{% endschema %}


